.navbar-default.tackNav .navbar-nav>.active>a, .navbar-default.tackNav .navbar-nav>.active>a:focus, .navbar-default.tackNav .navbar-nav>.active>a:hover {
    color: #FFFFFF;
    background-color: #8b99c6;
}

.navbar-default.tackNav .navbar-nav>li>a:focus, .navbar-default.tackNav .navbar-nav>li>a:hover {
    color: #FFFFFF;
    background-color: #8b99c6;
}

.navbar-default.tackNav .navbar-nav>li>a {
    color: #000000;
}

.navbar-default.tackNav {
	background-color: #97A5D4;
}

.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}

.tackNav .navbar-brand, .tackNav .navbar-brand:hover, .tackNav .navbar-brand:focus {
	height: 70px;
	color: #000000;
	font-family: 'Pinyon Script', cursive;
	font-size: 24px;
	font-weight: 100;
	padding-top: 25px;
}

.tackNav .navbar-brand .sub-brand {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: italic;
}

.tackNav .nav >li >a {
	padding-top: 25px;
	padding-bottom: 25px;
	color: #000000;
}

html {
	color: black;
	line-height: 1.4em;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.core p {
	text-align: center;
	margin: 0 auto;
}

@media (min-width: 768px) {
    .core p {
		width: 75%;
	}
	
	.tackNav .navbar-brand, .tackNav .navbar-brand:hover, .tackNav .navbar-brand:focus {
		font-size: 32px;
	}
}

@media (min-width: 992px) {

	.core p {
		width: 55%;
	}
	
	.tackNav .navbar-brand, .tackNav .navbar-brand:hover, .tackNav .navbar-brand:focus {
		font-size: 36px;
	}
}

.core {
	margin: 10px;
}

.banner {
	background-color: #97A5D4;
}

img {
    image-orientation: from-image;
}

/* SLIDER STYLE */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}*/

/*GALLERY */

.gallery {
	margin: 0 auto;
	width: 60%;
    height: 120px;
}

.gallery ul {
	width: 100%;
	padding: 0;
	text-align: center;
}

.gallery li {
	padding: 0;
	margin: 0 auto;
	display:inline-block;
}

.gallery li img {
    height: 500px;
	padding: 5px;
	margin: 0 auto;
}

/* SLIDER */

.slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  width: /*200*/500px;
  height: /*300*/708px;
}

.slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 1500px;
  height: 708px;
  list-style: none;
}

.slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: /*200*/500px;
  height: /*300*/708px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

/*.slider ui li img.resize {
	max-width:500px;
	height: auto;
}*/

/*.slider ui li img.resize {
    display: block;
    max-width:500px;
    max-height:708px;
    width: auto;
    height: auto;
}*/
